<!--<div class="menu-bar">
  <a class="link">
    <fa-icon [icon]="faList" class="fa-lg"></fa-icon>
  </a>
  <a class="link" href="/clientes">
    <fa-icon [icon]="faUserFriends" class="fa-sm"></fa-icon>
    <span>Clientes</span>
  </a>
  <a class="link" href="/os">
    <fa-icon [icon]="faPager" class="fa-sm"></fa-icon>
    <span>Ordem Serviço</span>
  </a>
  <a class="link" href="/permissao">
    <fa-icon [icon]="faCheckDouble" class="fa-sm"></fa-icon>
    <span>Permissão</span>
  </a>
  <a class="link" href="/doc">
    <fa-icon [icon]="faFileAlt" class="fa-sm"></fa-icon>
    <span>Documentação</span>
  </a>
  <a class="link" href="/sobre">
    <fa-icon [icon]="faInfo" class="fa-sm"></fa-icon>
    <span>Sobre</span>
  </a>
</div>-->
